<h1><%= @game.title %></h1>
<img src="<%= @game.image_url %>" alt="">
<p><%= @game.description %></p>


<% @game.players.map do |player| %>
	<%= link_to player.name, player_path(player) %>
<% end %>

<%= link_to "Edit", edit_game_path(@game), class: "button" %>
<%= link_to "Delete", game_path(@game), method: "delete", class: "button" %>
